In [1]:
from mcnpy.cov.parse_covmat import read_scale_covmat, read_njoy_covmat

/home/MONLEON-JUAN/MCNPy/mcnpy/cov/parse_covmat.py:168: SyntaxWarning: invalid escape sequence '\+'
  elif re.search('\+', energy):
/home/MONLEON-JUAN/MCNPy/mcnpy/cov/parse_covmat.py:193: SyntaxWarning: invalid escape sequence '\+'
  elif re.search('\+', CrossSec_str):
/home/MONLEON-JUAN/MCNPy/mcnpy/cov/parse_covmat.py:223: SyntaxWarning: invalid escape sequence '\+'
  elif re.search('\+', val_str):

In [2]:
scale_file_path = 'files/scale.rev05.44groupcov.txt'

In [3]:
covmat = read_scale_covmat(scale_file_path)

In [4]:
covmat

=====================================================================================
                            Covariance Matrix Information
=====================================================================================

This object contains covariance matrix data from nuclear data files (SCALE, NJOY, etc).
Each matrix represents the covariance between cross sections for specific
isotope-reaction pairs across energy groups.

Covariance type: SCALE

Covariance Data Summary:
-------------------------------------------------------------------------------------
Property                            Value
-------------------------------------------------------------------------------------
Number of Energy Groups             44
Number of Covariance Matrices       2171
Number of Unique Isotopes           407
Number of Unique Reactions          9
-------------------------------------------------------------------------------------

How to Access Covariance Data:
-------------------------------------------------------------------------------------
Method                              Description
-------------------------------------------------------------------------------------
.unique_isotopes                    Get set of unique isotope IDs
.unique_reactions                   Get set of unique reaction MT numbers
.num_matrices                       Get total number of covariance matrices
.num_groups                         Get number of energy groups
-------------------------------------------------------------------------------------

Available Methods:
-------------------------------------------------------------------------------------
Method                              Description
-------------------------------------------------------------------------------------
.get_matrix(...)                    Get specific covariance matrix
.get_isotope_reactions()            Get mapping of isotopes to their reactions
.get_reactions_summary()            Get DataFrame of isotopes with their reactions
.get_isotope_covariance_matrix(...) Build combined covariance matrix for an isotope
.to_dataframe()                     Convert all covariance data to DataFrame
.save_excel()                       Save covariance data to Excel file
-------------------------------------------------------------------------------------

In [5]:
import numpy as np

combined_cov = covmat.get_isotope_covariance_matrix(1001, [2, 102])
combined_cov

# write the covariance matrix to a txt file with space delimiter and .18e format
with open('scale_covmat_des.txt', 'w') as f:
    np.savetxt(f, combined_cov.T, fmt='%.18e', delimiter=' ')

In [8]:
df = covmat.to_dataframe()
df

,ISO_H,REAC_H,ISO_V,REAC_V,STD
0,0,0,0,0,"[1e-11, 3e-09, 7.5e-09, 1e-08, 2.53e-08, 3e-08..."
1,8001001,2,8001001,2,"[[1e-06, 1e-06, 1e-06, 1e-06, 1e-06, 1e-06, 1e..."
2,8001001,102,8001001,102,"[[2.4999999e-05, 2.4999999e-05, 2.4999999e-05,..."
3,8001002,2,8001002,2,"[[0.00039999999, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,8001002,102,8001002,102,"[[0.00089999998, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
...,...,...,...,...,...
2167,22048,2,22048,4,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2168,22048,2,22048,16,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2169,22048,2,22048,102,"[[-3.794489e-05, -4.2001837e-05, -4.2837644e-0..."
2170,22048,2,22048,103,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2171,22048,2,22048,107,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."

In [6]:
df = covmat.get_reactions_summary()
df

     Isotope              Reactions
0       1001               [2, 102]
1       1002           [2, 16, 102]
2       1003                [2, 16]
3       2003          [2, 102, 103]
4       2004                    [2]
..       ...                    ...
402  3006000  [2, 4, 102, 103, 107]
403  7001001               [2, 102]
404  8001001               [2, 102]
405  8001002           [2, 16, 102]
406  9001001               [2, 102]

[407 rows x 2 columns]

In [7]:
df[df['Isotope'] == 92235]

     Isotope                       Reactions
344    92235  [2, 4, 16, 18, 102, 452, 1018]

In [8]:
covmat.get_isotope_covariance_matrix(26056, [2,4,102,103,107])

array([[0.0040713, 0.0031186, 0.0028644, ..., 0.       , 0.       ,
        0.       ],
       [0.0031186, 0.0054721, 0.0045195, ..., 0.       , 0.       ,
        0.       ],
       [0.0028644, 0.0045195, 0.0043502, ..., 0.       , 0.       ,
        0.       ],
       ...,
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ]], shape=(220, 220))

In [9]:
cov34_file_path = '/home/MONLEON-JUAN/MCNPy/mcnpy/cov/files/260560_80.06.xs.gendf'

In [10]:
covmat = read_njoy_covmat(cov34_file_path)

In [11]:
covmat

=====================================================================================
                            Covariance Matrix Information
=====================================================================================

This object contains covariance matrix data from SCALE format.
Each matrix represents the covariance between cross sections for specific
isotope-reaction pairs across energy groups.

Covariance Data Summary:
-------------------------------------------------------------------------------------
Property                            Value
-------------------------------------------------------------------------------------
Number of Energy Groups             56
Number of Covariance Matrices       7
Number of Unique Isotopes           1
Number of Unique Reactions          7
-------------------------------------------------------------------------------------

How to Access Covariance Data:
-------------------------------------------------------------------------------------
Method                              Description
-------------------------------------------------------------------------------------
.unique_isotopes                    Get set of unique isotope IDs
.unique_reactions                   Get set of unique reaction MT numbers
.num_matrices                       Get total number of covariance matrices
.num_groups                         Get number of energy groups
-------------------------------------------------------------------------------------

Available Methods:
-------------------------------------------------------------------------------------
Method                              Description
-------------------------------------------------------------------------------------
.get_matrix(...)                    Get specific covariance matrix
.get_isotope_reactions()            Get mapping of isotopes to their reactions
.get_reactions_summary()            Get DataFrame of isotopes with their reactions
.get_isotope_covariance_matrix(...) Build combined covariance matrix for an isotope
.to_dataframe()                     Convert all covariance data to DataFrame
.save_excel()                       Save covariance data to Excel file
-------------------------------------------------------------------------------------

In [12]:
df = covmat.to_dataframe()
df

,ISO_H,REAC_H,ISO_V,REAC_V,STD
0,0,0,0,0,"[1e-05, 0.004, 0.01, 0.0253, 0.04, 0.05, 0.06,..."
1,2631,1,2631,1,"[[0.0004761941, 0.0003555683, 0.0002816217, 0...."
2,2631,2,2631,2,"[[9.578469e-05, 0.0001100216, 0.0001122962, 0...."
3,2631,4,2631,4,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,2631,5,2631,5,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
5,2631,16,2631,16,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
6,2631,102,2631,102,"[[0.002362302, 0.002362308, 0.002362332, 0.002..."
7,2631,103,2631,103,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."

In [14]:
len(df['STD'][0])

57